@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
    transform: translateY(-10vh) translateX(5px) rotate(5deg);
  }
  40% {
    transform: translateY(-40vh) translateX(-10px) rotate(45deg);
  }
  60% {
    transform: translateY(-60vh) translateX(5px) rotate(90deg);
  }
  100% {
    transform: translateY(-120vh) translateX(-5px) rotate(180deg);
    opacity: 0;
  }
}

.animate-float-up {
  animation: floatUp linear infinite;
}
